@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  color: white;
}
body {
  background-image: url(./assets/ruvim-noga-pazM9TQJ2Ck-unsplash.jpg);
  background-size: cover;
}
.glass-effect {
  width: 100vw;
  height: 100vh;
  background: rgba(60, 58, 58, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
}
.head {
  background: rgba(75, 75, 75, 0.267);
  box-shadow: 0 4px 30px rgba(163, 163, 163, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100vw;
  height: 4vw;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}
.head > h2 {
  font-size: 2rem;
  color: #b8b7b7;
}
.profile {
  width: 40px;
  height: 40px;
  background-color: #b8b7b7;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-left: auto;
}
main {
  padding-top: 1vw;
}
main > h1 {
  text-align: center;
  font-size: 3rem;
}
.cards {
  padding-top: 3vw;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  height: max-content;
  gap: 3vw;
}
#todo-all-cards {
  display: grid;
  gap: 1vw;
}
#doing-all-cards {
  display: grid;
  gap: 1vw;
}
#done-all-cards {
  display: grid;
  gap: 1vw;
}
.card {
  width: 28vw;
  background-color: #b8b7b7;
  min-height: 3vw;
  max-height: max-content;
  padding: 1vw 2vw;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.card > header {
  color: #202020;
  display: flex;
}
.card > header > h2 {
  font-size: 2rem;
}
header > p {
  font-size: 2rem;
  margin-left: auto;
}

.card-main {
  display: grid;
  gap: 1vw;
  width: 100%;
  overflow-y: scroll;
  max-height: 34vw;
  scrollbar-width: thin;
  scrollbar-color: #202020 transparent;
}
.options {
  cursor: pointer;
}
.options-menu {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  left: 340px;
  margin-top: 30px;
}

.options-menu p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}
.options-menu p:hover {
  background-color: #e0e0e0;
}
.inside-card {
  width: 35.5rem;
  color: black;
  background-color: rgba(240, 240, 240, 0.692);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1vw;
  font-size: 1.5rem;
}
.flex {
  display: flex;
}
.inside-p {
  margin-top: 1vw;
  width: 20vw;
}
.next {
  margin-left: auto;
  cursor: pointer;
}
.details {
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #591283;
}
.bg-red {
  background-color: #be1773;
}
.bg-cyan {
  background-color: rgb(29, 218, 218);
}
.bg-green {
  background-color: rgb(11, 172, 11);
}
.bg-yellow {
  background-color: rgb(153, 153, 56);
}
.bg-white {
  background-color: #e0e0e0;
}
textarea {
  max-width: 32.5rem;
  min-width: 32.5rem;
  min-height: 9rem;
}
.card-value-new {
  width: 100%;

  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: transparent;
  border: 1px solid #202020;
  margin-bottom: 10px;
}
.choose-color {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.colors {
  width: 5.5rem;
  height: 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #202020;
}
.colors:hover {
  border: 2px solid #591283;
  padding: 0.5vw;
}
.submit {
  margin: 0 auto;
  width: 100%;
  margin-top: 1vw;
  height: 1.5vw;
  background-color: gray;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.close {
  cursor: pointer;
  margin-bottom: 1vw;
}
.timer {
  font-size: 1.2rem;
}
.task-options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: grid;
  gap: 10px;
}
.task-options > button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid #202020;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hidden {
  display: none;
}
